[submodule "thirdparty/luajit"]
	path = thirdparty/luajit/luajit
	url = https://github.com/LuaJIT/LuaJIT
	branch = v2.1
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm
[submodule "thirdparty/mini"]
	path = thirdparty/mini
	url = https://github.com/pulzed/mINI
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "thirdparty/cli11"]
	path = thirdparty/cli11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "thirdparty/nlohmann_json"]
	path = thirdparty/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "thirdparty/magic_enum"]
	path = thirdparty/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "thirdparty/fast_float"]
	path = thirdparty/fast_float
	url = https://github.com/fastfloat/fast_float.git
[submodule "thirdparty/mio"]
	path = thirdparty/mio
	url = https://github.com/mandreyel/mio
[submodule "thirdparty/sdl"]
	path = thirdparty/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "thirdparty/openal_soft"]
	path = thirdparty/openal_soft
	url = https://github.com/kcat/openal-soft.git
[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "thirdparty/cpplint"]
	path = thirdparty/cpplint
	url = https://github.com/cpplint/cpplint.git
[submodule "thirdparty/backward_cpp"]
	path = thirdparty/backward_cpp
	url = https://github.com/captainurist/backward-cpp.git
[submodule "thirdparty/glob"]
	path = thirdparty/glob
	url = https://github.com/p-ranav/glob.git
