[submodule "thirdparty/luajit"]
	path = thirdparty/luajit/luajit
	url = https://github.com/LuaJIT/LuaJIT
	branch = v2.1
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm
[submodule "thirdparty/mini"]
	path = thirdparty/mini
	url = https://github.com/pulzed/mINI
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest.git
[submodule "thirdparty/cli11"]
	path = thirdparty/cli11
	url = https://github.com/CLIUtils/CLI11.git
