#env`s
*.user
*.sdf
*.opensdf
.vs
Debug
Release
Build/Visual Studio 2015/Debug
Build/Visual Studio 2017/Debug
*.pcx

# Visual Studio Code
.vscode
*.code-workspace

# CLion
.idea
cmake-build-debug
cmake-build-release
cmake-build-relwithdebinfo
cmake-build-minsizerel

# CMake
## Default output folder used by Visual Studio
out

## Output folder on Linux as described in HACKING
build

# 3d-party libs are auto-resolved by cmake
lib

# Doxygen
docs

# Release
dist

# patch artifacts
*.orig
*.rej
*.diff
*.patch

# Clang formatter file for Visual Studio
.clang-format

# android
.gradle
.cxx
local.properties

# third party ffmpeg
thirdparty/ffmpeg
thirdparty/zlib
thirdparty/sdl2
thirdparty/openal
