#env`s
*.user
*.sdf
*.opensdf
.vs
Debug
Release
Build/Visual Studio 2015/Debug
Build/Visual Studio 2017/Debug
*.pcx

# Visual Studio Code
.vscode/*
*.code-workspace

# cmake
out

# 3d-party libs are auto-resolved by cmake
lib

# patch artifacts
*.orig
*.rej
