name: Android
'on':
  pull_request: null
  workflow_dispatch:
    inputs:
      myCommit:
        description: Commit SHA1
        required: false
        default: ''
        type: string
  push: null
  release:
    types:
      - published
jobs:
  build_android:
    name: Build Android Client
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        configuration:
          - Debug
          - Release
        architecture:
          - arm64-v8a
          - armeabi-v7a
          - x86_64
        target:
          - android
    steps:
      - name: Configure Fast APT Mirror
        uses: vegardit/fast-apt-mirror.sh@v1
        with: # the following parameters are listed with their action default values and are optional
          healthchecks:  10 # Number of mirrors from the mirrors list to check for availability and up-to-dateness
          speedtests:    6 # Maximum number of healthy mirrors to test for speed
          parallel:       2 # Number of parallel speed tests
          sample-size: 1024 # Number of kilobytes to download during the speed from each mirror
          sample-time:    3 # Maximum number of seconds within the sample download from a mirror must finish
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
          ref: '${{ inputs.myCommit }}'
      - name: Decode Keystore
        if: '${{ env.super_secret != '''' }}'
        id: decode_keystore
        uses: timheuer/base64-to-file@v1.2
        with:
          fileName: android_keystore.jks
          fileDir: /home/runner/work/OpenEnroth/OpenEnroth/app/keystore/
          encodedString: '${{ secrets.KEYSTORE }}'
        env:
          super_secret: '${{ secrets.KEYSTORE }}'
      - name: Restore cached NDK
        id: cache-ndk
        uses: actions/cache/restore@v3
        with:
          path: |
            /usr/local/lib/android/sdk/ndk/26.0.10404224
          key: android-ndk-r26-beta1-linux
      - name: Download NDK
        if: steps.cache-ndk.outputs.cache-hit != 'true'
        run: >
          cd /usr/local/lib/android/sdk/ndk/

          wget --no-check-certificate
          'https://dl.google.com/android/repository/android-ndk-r26-beta1-linux.zip'
          -O android-ndk-r26-beta1-linux.zip 
      - name: Setup NDK
        if: steps.cache-ndk.outputs.cache-hit != 'true'
        run: >
          cd /usr/local/lib/android/sdk/ndk/

          unzip android-ndk-r26-beta1-linux.zip

          mv android-ndk-r26-beta1 /usr/local/lib/android/sdk/ndk/26.0.10404224

          echo "ANDROID_NDK=/usr/local/lib/android/sdk/ndk/26.0.10404224" >>
          $GITHUB_ENV

          echo "ANDROID_NDK_HOME=/usr/local/lib/android/sdk/ndk/26.0.10404224"
          >> $GITHUB_ENV

          echo
          "ANDROID_NDK_LATEST_HOME=/usr/local/lib/android/sdk/ndk/26.0.10404224"
          >> $GITHUB_ENV        

          echo "ANDROID_NDK_ROOT=/usr/local/lib/android/sdk/ndk/26.0.10404224"
          >> $GITHUB_ENV
      - name: Save NDK cache
        if: steps.cache-ndk.outputs.cache-hit != 'true'
        id: cache-ndk-save
        uses: actions/cache/save@v3
        with:
          path: |
            /usr/local/lib/android/sdk/ndk/26.0.10404224
          key: android-ndk-r26-beta1-linux
      - name: Install dependencies
        run: |
          sudo apt-get install -y yasm
          if [ "${{ matrix.architecture }}" = "armeabi-v7a" ] || [ "${{ matrix.architecture }}" = "x86" ]; then
            sudo dpkg --add-architecture i386
            sudo apt-get update
            sudo apt-get install -y gcc-12-multilib g++-12-multilib
          fi
      - uses: actions/setup-java@v2
        with:
          distribution: temurin
          java-version: 17.0.6
          cache: gradle
      - name: Check for ffmpeg cache
        id: ffmpeg-cache
        uses: actions/cache/restore@v3
        with:
          path: |
            android/openenroth/jni/FFmpeg/android/
          key: ffmpeg-cache
      - name: Build ffmpeg
        if: steps.ffmpeg-cache.outputs.cache-hit != 'true'
        working-directory: android/openenroth/jni/FFmpeg
        run: |
          ./build.sh
      - name: Save ffmpeg cache
        if: steps.ffmpeg-cache.outputs.cache-hit != 'true'
        id: check-for-ffmpeg-save
        uses: actions/cache/save@v3
        with:
          path: |
            android/openenroth/jni/FFmpeg/android/
          key: ffmpeg-cache
      - name: ccache dont save cache
        if: github.ref != 'refs/heads/master'
        uses: botanicvelious/ccache-action@v1.2.10
        with:
          key: 'android-${{ matrix.configuration }}'
          save: false
      - name: ccache save cache on merge
        if: github.ref == 'refs/heads/master'
        uses: botanicvelious/ccache-action@v1.2.10
        with:
          key: 'android-${{ matrix.configuration }}'
      - name: Build the app per arch
        if: github.ref != 'refs/heads/master'
        working-directory: android
        run: |
          if [ "${{ matrix.configuration }}" = "Debug" ]; then
            ./gradlew assembleDebug
          else 
            ./gradlew assembleRelease
          fi
        env:
          SIGNING_KEY_ALIAS: '${{ secrets.SIGNING_KEY_ALIAS }}'
          SIGNING_KEY_PASSWORD: '${{ secrets.SIGNING_KEY_PASSWORD }}'
          SIGNING_STORE_PASSWORD: '${{ secrets.SIGNING_STORE_PASSWORD }}'
          CMAKE_BUILD_PARALLEL_LEVEL: 3
          GITHUBARCH: '${{ matrix.architecture }}'
      - name: Build the app
        if: github.ref == 'refs/heads/master'
        working-directory: android
        run: |
          if [ "${{ matrix.configuration }}" = "Debug" ]; then
            ./gradlew assembleDebug
          else 
            ./gradlew assembleRelease
          fi
        env:
          SIGNING_KEY_ALIAS: '${{ secrets.SIGNING_KEY_ALIAS }}'
          SIGNING_KEY_PASSWORD: '${{ secrets.SIGNING_KEY_PASSWORD }}'
          SIGNING_STORE_PASSWORD: '${{ secrets.SIGNING_STORE_PASSWORD }}'
          CMAKE_BUILD_PARALLEL_LEVEL: 3          
