name: Linux (Flatpak)

on:
  pull_request: null
  workflow_dispatch:
    inputs:
      myCommit:
        description: Commit SHA1
        required: false
        default: ''
        type: string
      releaseTag:
        description: Release tag
        required: false
        default: ''
        type: string
  workflow_call:
    inputs:
      myCommit:
        description: Commit SHA1
        required: false
        default: ''
        type: string
      releaseTag:
        description: Release tag
        required: false
        default: ''
        type: string
  push: null
  release:
    types:
      - published

jobs:
  build-flatpak-bundle:
    timeout-minutes: 60
    name: "Build flatpak bundle"
    runs-on: ubuntu-latest
    container:
      image: bilelmoussaoui/flatpak-github-actions:freedesktop-24.08
      options: --privileged
    strategy:
      fail-fast: false
      matrix:
        configuration:
          - RelWithDebInfo
        architecture:
          - x86_64

    steps:
    - name: make ccache dir
      run: |
        mkdir -p .ccache
        cd .ccache
        echo "CCACHE_DIR=$PWD" >> $GITHUB_ENV
        
    - name: Checkout
      uses: actions/checkout@v5.0.0
      with:
        submodules: recursive
        ref: '${{inputs.myCommit}}'
          
    - name: Run ccache
      uses: hendrikmuhs/ccache-action@v1.2.18
      with:
        key: 'linux-flatpak-${{matrix.configuration}}-${{matrix.architecture}}'
        verbose: 2
        max-size: 200M
        append-timestamp: false
      if: github.event_name != 'pull_request'
        
    - name: Run ccache pr
      uses: hendrikmuhs/ccache-action@v1.2.18
      with:
        key: 'pr-${{github.event.number}}-linux-flatpak-${{matrix.configuration}}-${{matrix.architecture}}'
        restore-keys: |
          'linux-flatpak-${{matrix.configuration}}-${{matrix.architecture}}-'
        verbose: 2
        max-size: 200M
        append-timestamp: false
      if: github.event_name == 'pull_request'
        
    - name: Run Flatpak build
      uses: flatpak/flatpak-github-actions/flatpak-builder@dcbd3a30d991a38708c318d17f5352cc1268c215
      with:
        run-tests: true
        bundle: io.github.openenroth.openenroth_${{inputs.releaseTag}}_${{matrix.configuration}}_${{matrix.architecture}}.flatpak
        manifest-path: distribution/linux/flatpak/dev.io.github.openenroth.openenroth.yml
        arch: ${{matrix.architecture}}
        verbose: true
        cache: true
        restore-cache: false
        upload-artifact: false

    - name: Publish release
      if: inputs.releaseTag != ''
      uses: softprops/action-gh-release@v2.0.8
      with:
        prerelease: true
        tag_name: '${{inputs.releaseTag}}'
        files: io.github.openenroth.openenroth_${{inputs.releaseTag}}_${{matrix.configuration}}_${{matrix.architecture}}.flatpak
