name: MacOS

on:
  pull_request: null
  workflow_dispatch:
    inputs:
      myCommit:
        description: Commit SHA1
        required: false
        default: ''
        type: string
  push: null
  release:
    types:
      - published

jobs:
  build_macos:
    runs-on: macos-13
    strategy:
      fail-fast: false
      matrix:
        configuration:
          - Debug
          - Release
        architecture:
          - x64
    steps:
      - name: Set up Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: 14.3

      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
          ref: '${{ inputs.myCommit }}'

      - name: Check for Data cache
        id: check-for-data-cache
        uses: actions/cache/restore@v3
        with:
          path: |
            OpenEnroth_GameData
          key: data-cache

      - name: Copy shaders
        if: steps.check-for-data-cache.outputs.cache-hit == 'true'
        run: |
          cp -r ./resources/shaders ./OpenEnroth_GameData/mm7

      - name: Install dependencies
        run: |
          brew install ffmpeg@4

      - name: ccache save cache on merge
        if: github.ref == 'refs/heads/master'
        uses: botanicvelious/ccache-action@v1.2.10
        with:
          key: 'macos-${{ matrix.configuration }}-${{ matrix.architecture }}'

      - name: ccache dont save cache
        if: github.ref != 'refs/heads/master'
        uses: botanicvelious/ccache-action@v1.2.10
        with:
          key: 'macos-${{ matrix.configuration }}-${{ matrix.architecture }}'
          save: false

      - name: Configure
        run: >
          cmake -B build -G "Unix Makefiles" -DCMAKE_BUILD_TYPE=${{
          matrix.configuration }} -DOE_BUILD_TESTS=ON
          -DCMAKE_PREFIX_PATH="/usr/local/opt/ffmpeg@4"       
                  
      - name: Build
        working-directory: build
        run: |
          make -j4

      - name: Tests
        working-directory: build
        run: |
          make UnitTest

      - name: GameTest
        if: steps.check-for-data-cache.outputs.cache-hit == 'true'
        working-directory: build
        run: |
          make GameTest_Headless
        env:
          OPENENROTH_MM7_PATH: /Users/runner/work/OpenEnroth/OpenEnroth/OpenEnroth_GameData/mm7

      - name: Prepare artifact
        run: >
          mkdir dist

          cp -r build/src/Bin/OpenEnroth/OpenEnroth.app dist/

          cp -r resources/* dist/

          hdiutil create OpenEnroth.dmg -ov -volname "OpenEnroth" -fs HFS+
          -srcfolder dist

      - name: Check dependencies
        run: |
          otool -L build/src/Bin/OpenEnroth/OpenEnroth.app/Contents/MacOS/OpenEnroth
