name: Shaders

on:
  pull_request: null
  push: null
  workflow_dispatch:
    inputs:
      myCommit:
        description: Commit SHA1
        required: false
        default: ''
        type: string
  release:
    types:
      - published

jobs:
  check_shaders:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
          ref: '${{ inputs.myCommit }}'

      - name: Install dependencies
        uses: Wandalen/wretry.action@master
        with:
          attempt_limit: 3
          attempt_delay: 5000
          command: |
            sudo apt-get update
            sudo apt-get install -y glslang-tools

      - name: Check OpenGL 4.1 (Core) shaders
        run: |
          for shader in resources/shaders/*.vert resources/shaders/*.frag; do
            echo "Checking $shader..."
            ./scripts/check_shader.sh "$shader" "410 core"
          done

      - name: Check OpenGL ES 3.2 shaders
        run: |
          for shader in resources/shaders/*.vert resources/shaders/*.frag; do
            echo "Checking $shader..."
            ./scripts/check_shader.sh "$shader" "320 es"
          done
