name: Style

on:
  pull_request:
  workflow_dispatch: #allows to manually run a workflow
    inputs:
      myCommit:
        description: 'Commit SHA1'
        required: false
        default: 'undefined'
        type: string 
  push:
  release:
    types: [published]

jobs:
  check_style:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        submodules: 'recursive'

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libglu1-mesa-dev zlib1g-dev
        sudo apt-get install -y libavformat-dev libavcodec-dev libswscale-dev
        sudo apt-get install -y libsdl2-dev

    - name: Configure
      run: |
        cmake -B build -DENABLE_TESTS=On

    - name: Check style
      working-directory: build
      run: |
        make check_style
