name: Windows

on:
  pull_request: null
  workflow_dispatch:
    inputs:
      myCommit:
        description: Commit SHA1
        required: false
        default: ''
        type: string
      releaseTag:
        description: Release tag
        required: false
        default: ''
        type: string
  workflow_call:
    inputs:
      myCommit:
        description: Commit SHA1
        required: false
        default: ''
        type: string
      releaseTag:
        description: Release tag
        required: false
        default: ''
        type: string
  push: null
  release:
    types:
      - published

jobs:
  build_windows:
    timeout-minutes: 60
    runs-on: windows-2022
    strategy:
      fail-fast: false
      matrix:
        configuration:
          - Debug
          - RelWithDebInfo
        architecture:
          - x86
          - x86_64
    steps:
      # Checkout Code
      - name: Checkout
        uses: actions/checkout@v5.0.0
        with:
          submodules: recursive
          ref: '${{ inputs.myCommit }}'

      # Data cache is created by Populate Data Cache build.
      - name: Restore data cache
        id: restore-data-cache
        uses: actions/cache/restore@v4.2.4
        with:
          path: |
            OpenEnroth_GameData
          key: data-cache
          enableCrossOsArchive: true

      # Setup the MSVC build enviroment
      - name: Setup environment
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: '${{matrix.architecture}}'

      # Restore ccache file from cache if possible so we don't have to download it.
      - name: Restore cached ccache
        id: ccache-cache
        uses: actions/cache/restore@v3
        with:
          path: 'C:\ProgramData\chocolatey\lib\ccache\'
          key: windows-ccache

      # If ccache can't be restored from cache upgrade it
      - name: Update ccache
        if: steps.ccache-cache.outputs.cache-hit != 'true'
        run: |
          choco upgrade ccache --version=4.11.3
          
      # Chocolatey uses shims so copy the ccache exe
      - name: Copy ccache exe
        run: |
          copy C:\ProgramData\chocolatey\lib\ccache\tools\ccache-4.11.3-windows-x86_64\ccache.exe C:\ProgramData\chocolatey\bin\ccache.exe           

      # If ccache can't be restored from cache after upgrade cache it
      - name: Save ccache to cache
        if: steps.ccache-cache.outputs.cache-hit != 'true'
        id: check-for-ccache-save
        uses: actions/cache/save@v3
        with:
          path: 'C:\ProgramData\chocolatey\lib\ccache\'
          key: windows-ccache

      # GH action for ccache, only save cache if its on master branch or has a release build tag
      - name: Run ccache
        uses: hendrikmuhs/ccache-action@v1.2.18
        with:
          key: 'windows-${{matrix.configuration}}-${{matrix.architecture}}'
          verbose: 2
          max-size: 200M
        if: github.event_name != 'pull_request'
        
      - name: Run ccache pr
        uses: hendrikmuhs/ccache-action@v1.2.18
        with:
          key: 'windows-${{matrix.configuration}}-${{matrix.architecture}}'
          verbose: 2
          max-size: 200M
          save: false
        if: github.event_name == 'pull_request'
          
      # MSVC hit rate is higher with ignoring the hash_dir and is safe
      - name: Set ccache config values
        run: |
          ccache --set-config=hash_dir=false

      - name: Configure
        run: |
          cmake -B build -G "Ninja" -DCMAKE_BUILD_TYPE=${{matrix.configuration}}

      - name: Build
        working-directory: build
        shell: cmd
        run: |
          ninja -v

      - name: Run unit tests
        working-directory: build
        run: |
          ninja Run_UnitTest

      # Only run gametest if we restored game data.
      - name: Run game tests
        working-directory: build
        run: |
          ninja Run_GameTest_Headless_Parallel
        env:
          OPENENROTH_MM7_PATH: 'D:\a\OpenEnroth\OpenEnroth\OpenEnroth_GameData\mm7'

      - name: Run retrace tests
        if: matrix.configuration != 'Debug'
        working-directory: build
        run: |
          ninja Run_RetraceTest_Headless_Parallel
        env:
          OPENENROTH_MM7_PATH: 'D:\a\OpenEnroth\OpenEnroth\OpenEnroth_GameData\mm7'

      - name: Prepare files for release
        run: |
          mkdir dist
          copy build\src\Bin\OpenEnroth\OpenEnroth.exe dist\ 
          copy build\src\Bin\OpenEnroth\OpenEnroth.pdb dist\ 

      - name: Zip folder for release
        if: inputs.releaseTag != ''
        uses: thedoctor0/zip-release@0.7.1
        with:
          type: zip
          filename: ${{runner.os}}_${{inputs.releaseTag}}_${{matrix.configuration}}_${{matrix.architecture}}.zip
          path: dist

      - name: Publish release
        if: inputs.releaseTag != ''
        uses: softprops/action-gh-release@v1
        with:
          prerelease: true
          tag_name: '${{ inputs.releaseTag }}'
          files: |
            ${{runner.os}}_${{inputs.releaseTag}}_${{matrix.configuration}}_${{matrix.architecture}}.zip

      - name: Check dependencies
        run: |
          dumpbin /imports build\src\Bin\OpenEnroth\OpenEnroth.exe

      - name: Cleanup ccache
        run: |
          ccache -c
