name: Windows

on:
  pull_request:
  workflow_dispatch: #allows to manually run a workflow
    inputs:
      myCommit:
        description: 'Commit SHA1'
        required: false
        default: ''
        type: string 
  push:
  release:
    types: [published]

#concurrency:
#  group: ${{ github.workflow }}-${{ github.ref }}
#  cancel-in-progress: true

jobs:
  build_windows:
    runs-on: windows-2022
    strategy:
      fail-fast: false
      matrix:
        configuration: [Debug, Release]
        architecture: [x86, x64]
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        submodules: 'recursive'
        ref: ${{ inputs.myCommit }}

    - name: Check for Data cache
      id: check-for-data-cache
      uses: actions/cache/restore@v3
      with:
        path: |
          OpenEnroth_GameData
        key: data-cache
        enableCrossOsArchive: true

    - name: Copy shaders
      if: steps.check-for-data-cache.outputs.cache-hit == 'true'    
      run: |
        xcopy D:\a\OpenEnroth\OpenEnroth\resources D:\a\OpenEnroth\OpenEnroth\OpenEnroth_GameData\mm7 /E/H/C/I

    - name: Setup environment
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: ${{ matrix.architecture }}

    - name: update ccache
      run: |
        choco upgrade ccache

    - name: ccache save cache on merge
      if: github.ref == 'refs/heads/master'
      uses: hendrikmuhs/ccache-action@v1.2
      with:
        key: windows-${{ matrix.configuration }}-${{ matrix.architecture }}

    - name: ccache dont save cache
      if: github.ref != 'refs/heads/master'
      uses: hendrikmuhs/ccache-action@v1.2
      with:
        key: windows-${{ matrix.configuration }}-${{ matrix.architecture }}
        save: false

    - name: Configure
      run: |
        cmake -B build -G "Ninja" -DCMAKE_BUILD_TYPE=${{ matrix.configuration }} -DENABLE_TESTS=On

    - name: Build
      working-directory: build
      shell: cmd
      run: |
        ninja /S

    - name: Tests
      working-directory: build
      run: |
        ninja UnitTest

    - name: GameTest
      if: steps.check-for-data-cache.outputs.cache-hit == 'true'        
      working-directory: build
      run: |
        ninja GameTest_NullRenderer
      env:
        OPENENROTH_MM7_PATH: D:\a\OpenEnroth\OpenEnroth\OpenEnroth_GameData\mm7

    - name: Prepare artifact
      shell: pwsh
      run: |
        mkdir dist
        copy build\src\Bin\OpenEnroth\OpenEnroth.exe dist\ 
        copy build\src\Bin\OpenEnroth\*.dll dist\ 
        xcopy resources dist\ /E/H/C/I
