name: Windows

on:
  pull_request:
  push:
  release:
    types: [published]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_windows:
    runs-on: windows-2022
    strategy:
      fail-fast: false
      matrix:
        configuration: [Debug, Release]
        architecture: [x86, x64]
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        submodules: 'recursive'


    - name: Check for Data cache
      id: check-for-data-cache
      uses: actions/cache/restore@v3
      with:
        path: |
          OpenEnroth_GameData
        key: data-cache

    - name: Checkout private data
      if: steps.check-for-data-cache.outputs.cache-hit != 'true'
      uses: actions/checkout@v3
      with:
        repository: OpenEnroth/OpenEnroth_GameData
        path: OpenEnroth_GameData
        token: ${{ secrets.DATA_ACCESS_TOKEN }}

    - name: Cache data if needed
      if: steps.check-for-data-cache.outputs.cache-hit != 'true'
      uses: actions/cache/save@v3
      with:
        path: |
          OpenEnroth_GameData
        key: data-cache

    - name: Setup environment
      uses: ilammy/msvc-dev-cmd@v1
      with:
        arch: ${{ matrix.architecture }}

    - name: Configure
      run: |
        cmake -B build -G "Ninja" -DCMAKE_BUILD_TYPE=${{ matrix.configuration }} -DENABLE_TESTS=On

    - name: Build
      working-directory: build
      shell: cmd
      run: |
        ninja

    - name: Tests
      working-directory: build
      run: |
        ninja UnitTest

    - name: GameTest
      working-directory: build
      run: |
        pwd
        ninja GameTest_NullRenderer
      env:
        OPENENROTH_MM7_PATH: /home/runner/work/OpenEnroth/OpenEnroth/OpenEnroth_GameData/mm7

    - name: Prepare artifact
      shell: pwsh
      run: |
        mkdir dist
        copy build\src\Bin\OpenEnroth\OpenEnroth.exe dist\ 
        copy build\src\Bin\OpenEnroth\*.dll dist\ 
        xcopy resources dist\ /E/H/C/I
